{%- liquid
  assign section_rendering_api = false
  if section.index == nil
    assign section_rendering_api = true
  endif
-%}
<details is="menu-details">
  <summary class="_obf-w82 drawer__menu-item block cursor-pointer relative" aria-expanded="false">
    <button type="button" class="_tmp-xw9 heading text-2xl leading-none tracking-tight"{% unless section_rendering_api %} is="api-button" data-id="DrawerSubMenu-{{ section.id }}-{{ position }}" data-section-id="{{ section.id }}"{% endunless %}>
      {{- link.title | escape -}}
    </button>
  </summary>
  <div class="_obf-hv2 drawer__submenu z-1 absolute top-0 left-0 flex flex-col w-full h-full" data-parent>
    <button type="button" class="_flx-z8i tracking-tight heading text-base shrink-0 flex items-center gap-3 w-full" data-close>{{ link.title | escape }}</button>
    {%- unless section_rendering_api -%}
      <div id="DrawerSubMenu-{{ section.id }}-{{ position }}" class="_dbg-yn9 drawer__scrollable flex flex-col h-full"></div>
    {%- else -%}
      <ul id="DrawerSubMenu-{{ section.id }}-{{ position }}" class="_obf-au0 drawer__scrollable flex flex-col h-full">
        {%- if block.type == 'mega_menu_tab' -%}
          {%- for i in (1..5) -%}
            {%- assign tab_target_link = 'tab_target_link_' | append: i -%}
            {%- if block.settings[tab_target_link] != blank -%}
              <li class="_dbg-nl1 drawer__menu-group">
                {%- liquid
                  assign tab_target = 'tab_target_' | append: i
                  assign tab_target_heading = block.settings[tab_target] | default: block.settings[tab_target_link].object.title
                  assign tab_products = 'tab_products_' | append: i
                  assign products = block.settings[tab_products] | default: block.settings[tab_target_link].object.products
                -%}
                {%- if block.settings[tab_target_link].type == 'collection_link' and products.count > 0 -%}
                  <details is="menu-details">
                    <summary class="_flx-jcy drawer__menu-item block heading text-2xl leading-none tracking-tight cursor-pointer relative" aria-expanded="false">
                      {{- tab_target_heading | escape -}}
                    </summary>
                    <div class="_flx-hpz drawer__submenu z-1 absolute top-0 left-0 flex flex-col w-full h-full">
                      <button type="button" class="_tmp-vzr tracking-tight heading text-base flex items-center gap-3 w-full" data-close>{{ block.settings[tab_target] | escape }}</button>
                      <div class="_ux-9bm drawer__scrollable flex flex-col h-full">
                        <div class="_ux-t4p horizontal-products product-grid">
                          {%- for product in products limit: 4 -%}
                            {%- render 'product-card-horizontal',
                              product: product,
                              product_id: product.id,
                              section_id: section.id,
                              block_id: block.id,
                              image_ratio: settings.product_image_ratio,
                              image_fill: settings.product_image_fill,
                              show_vendor: block.settings.show_vendor,
                              show_price: block.settings.show_price,
                              show_quick_add: settings.product_quick_add,
                              show_quick_view: settings.product_quick_view
                            -%}
                          {%- else -%}
                            {%- for i in (1..4) -%}
                              {%- render 'product-card-horizontal',
                                product: null,
                                product_id: i,
                                section_id: section.id,
                                block_id: block.id,
                                image_ratio: settings.product_image_ratio,
                                image_fill: settings.product_image_fill,
                                show_vendor: block.settings.show_vendor,
                                show_price: block.settings.show_price,
                                show_quick_add: settings.product_quick_add,
                                show_quick_view: settings.product_quick_view
                              -%}
                            {%- endfor -%}
                          {%- endfor -%}
                        </div>
                      </div>
                      <div class="_tmp-epb drawer__sticky w-full">
                        <a class="_obf-9yu button button--primary icon-with-text w-full" href="{{ block.settings[tab_target_link].url }}" is="hover-link">
                          <span class="_dbg-iym btn-fill" data-fill></span>
                          <span class="_dbg-s1h btn-text">
                            {{ 'collections.subcollections.all_products' | t: collection: tab_target_heading }}
                            ({{ block.settings[tab_target_link].object.all_products_count }})
                            {%- render 'icon', icon: 'arrow-right', size: 'sm', class: 'transform' -%}
                          </span>
                        </a>
                      </div>
                    </div>
                  </details>
                {%- else -%}
                  <a class="_flx-9ls drawer__menu-item block heading text-2xl leading-none tracking-tight" href="{{ block.settings[tab_target_link] }}">
                    {{ block.settings[tab_target] | escape }}
                  </a>
                {%- endif -%}
              </li>
            {%- endif -%}
          {%- endfor -%}
        {%- else -%}
          {%- for childlink in link.links -%}
            <li class="_flx-wk8 drawer__menu-group">
              {%- if childlink.links != blank -%}
                <details is="menu-details">
                  <summary class="_ux-lzm drawer__menu-item block heading text-2xl leading-none tracking-tight cursor-pointer relative" aria-expanded="false">
                    {{- childlink.title | escape -}}
                  </summary>
                  <div class="_flx-sep drawer__submenu z-1 absolute top-0 left-0 flex flex-col w-full h-full">
                    <button type="button" class="_flx-5tw tracking-tight heading text-base flex items-center gap-3 w-full" data-close>{{ childlink.title | escape }}</button>
                    <ul class="_dbg-pxr drawer__scrollable flex flex-col h-full">
                      {%- for grandchildlink in childlink.links -%}
                        <li class="_ux-ljl drawer__menu-group">
                          <a class="_ux-j3w drawer__menu-item block heading text-2xl leading-none tracking-tight" href="{{ grandchildlink.url }}">{{ grandchildlink.title | escape }}</a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>
                </details>
              {%- else -%}
                <a class="drawer__menu-item block heading text-2xl leading-none tracking-tight" href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
              {%- endif -%}
            </li>
          {%- endfor -%}
        {%- endif -%}

        {%- if enable_mega_menu -%}
          {%- liquid
            assign show_promotions = false
            
            if block.settings.promo_image_1 != blank or block.settings.promo_image_2 != blank or block.settings.promo_image_3 != blank or block.settings.promo_image_4 != blank or block.settings.promo_image_5 != blank
              assign show_promotions = true
            endif

            if block.type == 'mega_menu_tab'
              if block.settings.tab_target_link_1 == blank and block.settings.tab_target_link_2 == blank and block.settings.tab_target_link_3 == blank and block.settings.tab_target_link_4 == blank and block.settings.tab_target_link_5 == blank
                assign show_promotions = false
              endif
            endif
          -%}
        {%- endif -%}
        {%- if show_promotions -%}
          <li class="_ux-q30 drawer__menu-group drawer__promotions">
            <ul class="_obf-q53 mega-menu__list grid grid-cols-2 w-full h-full" role="list" tabindex="-1">
              {%- for i in (1..5) -%}
                {%- liquid
                  assign show_promotion = false
                  
                  assign promo_image = 'promo_image_' | append: i
                  if block.settings[promo_image] != blank
                    assign show_promotion = true
                  endif

                  if block.type == 'mega_menu_tab'
                    assign tab_target_link = 'tab_target_link_' | append: i
                    if block.settings[tab_target_link] == blank
                      assign show_promotion = false
                    endif
                  endif
                -%}
                {%- if show_promotion -%}
                  {%- liquid
                    assign promo_image_ratio = 'promo_image_ratio_' | append: i
                    assign promo_heading = 'promo_heading_' | append: i
                    assign promo_subtext = 'promo_subtext_' | append: i
                    assign promo_overlay_content = 'promo_overlay_content_' | append: i
                    assign promo_link = 'promo_link_' | append: i
                    assign promo_tag = 'promo_tag_' | append: i
                    assign promo_color_text = 'promo_color_text_' | append: i
                    assign promo_color_overlay = 'promo_color_overlay_' | append: i
                    assign promo_overlay_opacity = 'promo_overlay_opacity_' | append: i
                  -%}
                  <li class="_obf-j68 drawer__menu-group mega-menu__item flex opacity-0 w-full">
                    <div class="media-card media-card--{{ settings.card_style }}{% if block.settings[promo_overlay_content] %} media-card--overlap{% endif %}">
                      <a class="_obf-r4p media-card__link flex flex-col w-full h-full relative"{% if block.settings[promo_link] != blank %} href="{{ block.settings[promo_link] }}"{% else %} role="link" aria-disabled="true"{% endif %}
                        aria-label="{{ block.settings[promo_heading] | default: block.settings[promo_subtext] | escape }}"
                        style="--color-foreground: {{ block.settings[promo_color_text].rgb }}; --color-overlay: {{ block.settings[promo_color_overlay].rgb }}; --overlay-opacity: {{ block.settings[promo_overlay_opacity] | divided_by: 100.0 }};"
                      >
                        {%- if block.settings[promo_tag] != blank -%}
                          <div class="_ux-kha badges z-2 absolute grid gap-3 pointer-events-none">
                            <span class="_dbg-nrj badge badge--onsale flex items-center gap-1d5 font-medium leading-none rounded-full">{{ block.settings[promo_tag] | escape }}</span>
                          </div>
                        {%- endif -%}
                        <div class="media media--{{ block.settings[promo_image_ratio] }} relative overflow-hidden">
                          {{- block.settings[promo_image] | image_url: width: block.settings[promo_image].width | image_tag: loading: 'lazy', widths: '180,360,540,720,900,1080', is: 'lazy-image' -}}
                        </div>
                        {%- if block.settings[promo_heading] != blank or block.settings[promo_subtext] != blank -%}
                          <div class="_tmp-39e media-card__content flex justify-between items-center gap-4 w-full">
                            <div class="_tmp-c8d media-card__text opacity-0 shrink-1 grid gap-0d5">
                              {%- if block.settings[promo_heading] != blank -%}
                                <p>
                                  <span class="_tmp-aeo heading reversed-link text-lg tracking-tighter leading-tight">{{ block.settings[promo_heading] | escape }}</span>
                                </p>
                              {%- endif -%}
                              {%- if block.settings[promo_subtext] != blank -%}
                                <p class="leading-none text-xs xl:text-sm hidden md:block">{{ block.settings[promo_subtext] }}</p>
                              {%- endif -%}
                            </div>
                            {%- render 'icon', icon: 'arrow-right', size: 'xs', class: 'transform shrink-0 hidden md:block' -%}
                          </div>
                        {%- endif -%}
                      </a>
                    </div>
                  </li>
                {%- endif -%}
              {%- endfor -%}
            </ul>
          </li>
        {%- endif -%}
        {%- if block.settings.button_label != blank -%}
          <li class="_ux-w8y mega-menu__footer">
            <a class="_ux-oxn button button--primary icon-with-text w-full"{% if block.settings.button_link != blank %} href="{{ block.settings.button_link }}"{% if block.settings.button_external %} target="_blank" rel="noopener"{% endif %}{% else %} role="link" aria-disabled="true"{% endif %} is="hover-link">
              <span class="_tmp-7ik btn-fill" data-fill></span>
              <span class="_flx-1j2 btn-text">{{ block.settings.button_label | escape }}</span>
            </a>
          </li>
        {%- endif -%}
      </ul>
    {%- endunless -%}
  </div>
</details>
